<div class="talk_chat">
  <div class="who_and_when_talk">
    <div class="who_talk">
      <%= message.user.name %>
    </div>
    <div class="when_talk">
      <%= message.created_at %>
    </div>
  </div>
  <div class="what_talk">
    <%= message.content %>
  </div>
</div>